.movies-container {
    width: 100vw;
   text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.single-movie-container {
    border: 1px solid red;
    min-width: 30vw;
    margin-left: .5vw;
    margin-right: .5vw;
}