.login-form-container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.login-container {
    border: 5px solid white;
    padding: 10px;
}

input {
    width: 20vw;
    height: 5vh;
    font-size: 1.5em;
}

#username {
    margin-bottom: 10px;
}

.login-button {
    margin-top: 10px;
}

